#maindiv1{
    FONT-SIZE:20PX;
    background-image:url("TESTPIC1.jfif")    
    background-position:50% 20%;
    height:300px;
    border:5px solid black;
}

#testdiv{
    background-image:url("https://www.bing.com/images/search?view=detailV2&ccid=%2bzPMz8sY&id=4EE22DC7093885B8E03D583432C370B77156FFD1&thid=OIP.-zPMz8sYL9FYojFomclB-gHaFb&mediaurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.fb33cccfcb182fd158a2316899c941fa%3frik%3d0f9WcbdwwzI0WA%26riu%3dhttp%253a%252f%252fit.seattlecentral.edu%252fsites%252fit.seattlecentral.dev%252ffiles%252finline-images%252fprogramming-student-at-seattle-central.jpg%26ehk%3dSgba7fQGkxz59DVb33MdukvtA59YWee1bwiVN%252f0d5zI%253d%26risl%3d%26pid%3dImgRaw%26r%3d0&exph=1101&expw=1500&q=Programming+Student&simid=608028959978686702&FORM=IRPRST&ck=E4711A3DB416B1ECAED60AFF8801841A&selectedIndex=0&idpp=overlayview&ajaxhist=0&ajaxserp=0");
    color:white;
    width:400px;
    height:400px;
}

#sectionmain{
    background-color:brown;
    height:40px;
    width:800px;
    left:210px;
    border:1px solid black;
    position:relative;
}

.id1{
    color:white;
    font-size:larger;
    bottom:20px;
    position:relative;
}

#pr1{ 
    color:white;
    text-shadow:15px 15px 15px;
    text-align:center;
    font-size:70px;
    bottom:60px;
    position:relative;
}

#p1{
    font-size:25px;
    color:white;
    text-align:center;
    bottom:70px;
    position:relative;
}

#p2{
    font-size:20px;
    color:white;
    text-align:center;
    bottom:70px;
    position:relative;
}

#maindiv2{
    background-color:white;
    height:350px;
    border:5px solid black;
    top:-350px;
    position:relative;
}

body{
    background-color:grey;
}

#id1left{
    background-color:brown;
    height:80px;
    width:80px;
    left:82px;
    bottom:50px; 
    border:5px solid black;
    border-radius:50px;
    position:relative;
}

#id1center{
    background-color:brown;
    height: 80px;
    width:80px;
    left:82px;
    bottom:50px;
    border:5px solid black;
    border-radius: 50px;
    position:relative;
}

#id1right{
    background-color:brown;
    height: 80px;
    width:80px;
    left:82px;
    bottom:50px;
    border:5px solid black;
    border-radius: 50px;
    position:relative;
}

#divleft{
    background-image:url();
    background-color: white;
    left:190px;
    top:70px;
    width:20.33%;
    height:190px;
    border:5px solid black;
    position:relative;
}

#divcenter{
    background-color: white;
    margin:0 auto;
    bottom:147px;
    width:20.33%;
    height:190px;
    border:5px solid black;
    position:relative;
}

#divright{
    background-color: white;
    left:792px;
    bottom:365px;
    width:20.33%;
    height:190px;
    border:5px solid black;
    position:relative;
}

.main2{
    height:200px;
    width:25.33%;
    border:5px solid black;
}

#id2left{
    background-color:red;
    left:70px;
    bottom:-30px;
    position:relative;
}

#id2center{
    background-color:red;
    margin:0 auto;
    bottom:180px;
    position:relative; 

}

#id2right{
    background-color:red;
    left:845px;
    bottom:390px;
    position:relative;
}


#bleft{
    background-color:brown;
    border:5px solid black;
    height:200px;
    width:250px;
    bottom:240px;
    left:220px;
    position:relative;
}

#bright{
    background-color:white;
    border:5px solid black;
    height:200px;
    width:500px;
    bottom:450px;
    left:500px;
    position:relative;

}

#last{
    background-color:white;
    border:5px solid black;
    height:250px;
    bottom:380px;
    position:relative;
}

#lastsection{
    background-color:brown;
    border:0px solid black;
    height:40px;
    top:210px;
    position:relative;
}

