#maindiv1{
    FONT-SIZE:20PX;
    background-image:url("https://th.bing.com/th?id=OIP.AnloR3wttlsEQQJJflxj6gHaEK&w=333&h=187&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2");
    background-position:50% 20%;
    border:5px solid black;
}

#maindiv2{
    background-color:lightgrey;
    height:650px;
}
#sectionmain{
    background-color:brown;
    height:40px;
    width:90%;
    margin:0 auto;
    border:1px solid black;
    position:relative;
}
 
.id1{
    color:white;
    font-size:larger;
    bottom:20px;
    position:relative;
}

#pr1{
    color:red;
    text-shadow:15px 15px 15px;
    text-align:center;
    font-size:170%;
    top:30%;
    position:relative;
}

#p1{
    font-size:25px;
    color:white;
    text-align:center;
    top:15%;
    position:relative;
}

#p2{
    font-size:20px;
    color:white;
    text-align:center;
    top:20%;
    position:relative;
}

#maindiv3{
    background-color:white;
    height:350px;
    border:5px solid black;
    top:-350px;
    position:relative;
}

body{
    background-color:lightgrey;
}

#id1left{
    background-color:brown;
    height:43%;
    width:35%;
    margin:0 auto;
    top:-23%;
    border:5px solid black;
    border-radius:50%;
    position:relative;
}

#id1center{
    background-color:brown;
    height:43%;
    width:35%;
    margin:0 auto;
    top:-23%;
    bottom:50px;
    border:5px solid black;
    border-radius: 50%;
    position:relative;
}

#id1right{
    background-color:brown;
    height:43%;
    width:35%;
    margin:0 auto;
    top:-23%;
    bottom:50px;
    border:5px solid black;
    border-radius: 50%;
    position:relative;
}

#divleft{
    background-image:url(testpic2.jfif);
    background-size:cover;
    left:15%;
    top:7%;
    width:20.33%;
    height:32%;
    border:5px solid black;
    position:relative;
}

#divcenter{
    background-image:url(testpic2.jfif);
    background-size:cover;
    margin:0 auto;
    top:-29.5%;
    width:20.33%;
    height:32%;
    border:5px solid black;
    position:relative;
}

#divright{
    background-image:url(testpic2.jfif);
    background-size:cover;
    left:64%;
    top:-66%;
    width:20.33%;
    height:32%;
    border:5px solid black;
    position:relative;
}

.main2{
    height:200px;
    width:25.33%;
    border:5px solid black;
}

#id2left{
    background-image:url(programmingpic.jpg);
    background-size:cover;
    left:7%;
    bottom:-30px;
    position:relative;
}

#id2center{
    background-image:url(programmingpic.jpg);
    background-size:cover;
    margin:0 auto;
    bottom:180px;
    position:relative; 

}

#id2right{
    background-image:url(programmingpic.jpg);
    background-size:cover;
    left:67%;
    bottom:390px;
    position:relative;
}


#bleft{
    background-image:url(testpic3.jfif);
    background-size:cover;
    border:5px solid black;
    height:60%;
    width:22%;
    top:-60%;
    left:15%;
    position:relative;
}

#bright{
    background-image:url(programmpic11.jpg);
    background-size:cover;
    border:5px solid black;
    height:60%;
    width:45%;
    top:-122.5%;
    left:40%;
    position:relative;

}

#last{
    background-color:white;
    border:5px solid black;
    height:250px;
    bottom:380px;
    position:relative;
}

#lastsection{
    background-color:brown;
    border:0px solid black;
    height:40px;
    top:210px;
    position:relative;
}

